* {
    margin: 0%;
    padding: 0%;
  }
    
  a {
  color: black;
  font-family:'Gloria Hallelujah', cursive;
  
  }
  .contenedorCajitas {
    display: flex;
    justify-content: space-between;
    padding: 5em;
  }

  .contenedorCajitas1 {
    display: flex;
    justify-content: space-between;
    padding: 5em;
  }
  

  img {
    width: 230px;
    height: 200px;
    margin: 10px;
}

.divider {
  background-color: red;
  width: 100%;
  height: 5px;
}

@media (max-width: 600px){
  img {
    width: 120px;
    height: 100px;
  }
}

@media (max-width: 600px){
  .imagen {
    max-width: 100%;
  }
}

@media (max-width: 600px){
  .contenedorCajitas1 {
    display: block;
    text-align: center;
    padding: 2em;
  }
}

@media (max-width: 600px){
  .contenedorCajitas {
    text-align: center;
  }
}

@media (max-width: 600px) {
  a {
    font-size: 15px;
    margin: 15px;
  }
}