* {
  margin: 0%;
  padding: 0%;
}

.titulo {
  padding: 1em;
}

h1 {
  font-size: 80px;
  font-family:'Gloria Hallelujah', cursive;
  text-align: center;
  color: black;
}

h5 {
  font-size: 50px;
  font-family:'Gloria Hallelujah', cursive;
  text-align: center;
  color: rgb(247, 4, 4);
}

a {
color: black;
font-family:'Gloria Hallelujah', cursive;


}
.contenedorCajitas {
  display: flex;
  justify-content: space-around;
  padding: 4em;
}

.cajitas {
  color: rgb(7, 7, 7);
  font-family:'Gloria Hallelujah', cursive;
  font-size: 20px;
  margin: 50px;
}

@media (max-width: 600px) {
  h1{
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  h5{
    font-size: 1em;
  }
}

@media (max-width: 600px) {
  .contenedorCajitas {
    padding: 2em;
  }
}

@media (max-width: 600px) {
  .cajitas {
    font-size: 15px;
    margin: 25px;
  }
}





